
::deep .drag-and-drop-list-item-active > div > div {
    box-shadow: 0 0 0.75rem #dee2e6;
}

::deep .drag-and-drop-list-item:not(.drag-and-drop-list-item-active) {
    top: 0;
    transition: top 0.4s ease-in-out;
}
